<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.usecases.mybatis.model.Bookstore" alias="Bookstore"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.Writer" alias="Writer"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.Book" alias="Book"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.BookstoreWriter" alias="BookstoreWriter"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="openejb:Resource/BookstoreDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/xml/BookstoreMapper.xml"/>
        <mapper resource="mybatis/xml/WriterMapper.xml"/>
        <mapper resource="mybatis/xml/BookMapper.xml"/>
        <mapper resource="mybatis/xml/BookstoreWriterMapper.xml"/>
    </mappers>
</configuration>